html
head
script(src='https://js.stripe.com/v3/')
body
form(action="/charge", method="post", id="payment-form")
	div(class="form-now")
		label(for="card-element")
	div(id="card-element")
	div(id="card-errors" role="alert")
	button Submit Payment
script
	include main.js